# hidden files
.DS_Store
.idea

# hidden directories
.serverless

# files
safe/notes
sensitive
git-notes
git-cheatsheet.pdf
serverless.yml
test/config.json

# directories
node_modules
jspm_packages
tools
safe
