# hidden files
.DS_Store
.idea

# hidden directories
.serverless
.nyc_output

# files
safe/notes
sensitive
git-notes
git-cheatsheet.pdf
test/config.json

# directories
node_modules
jspm_packages
tools
safe

